<%- include("partials/header"); %>
    
    <div class="container py-3 mt-5 shadow-lg p-5 mb-6 bg-secondary rounded" >
        <h1>
            ADD Medicine
        </h1>
        <hr>
        <form action="/add" method="post">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label" >Medicine Image</label>
            <input type="text" required name="img" class="form-control" id="exampleFormControlInput1" placeholder="Image">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" >Medicine Name</label>
            <h1><input type="text" required name="title" class="form-control" id="exampleFormControlInput1" placeholder="Title"></h1>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea type="text" required name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter description here...."></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Expiry Date</label>
            <input type="datetime-local" required name="date" class="form-control" id="exampleFormControlInput2" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Price</label>
            <input type="text" required name="cost" class="form-control" id="exampleFormControlInput2" placeholder="In Rupees">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <%- include("partials/footer"); %>