<%- include("partials/header"); %>

    <%- include("partials/nav"); %>

    <div class="container form-control bg-secondary p-3 mt-5">

        <h1>Change Password</h1>
    <form action="/changepassword/<%= id %>" method="post">
        
        <div class="mb-3 ">
            <input type="password" name="password" class="form-control" id="exampleFormControlInput1"
                placeholder="New password">
        </div>
  
        <button type="submit" class="btn btn-primary mb-3">Change</button>
 
    </form>
</div>

<%- include("partials/footer"); %>