<%- include("partials/header"); %>

    <%- include("partials/nav"); %>

        <div class="container form-control bg-secondary p-3 mt-5">

            <h1>Enter Existing Mail</h1>
            <form action="/forgetpassword" method="post">

                <div class="mb-3 ">
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="example@gmail.com">
                </div>

                <button type="submit" class="btn btn-primary mb-3">Change Password</button>

            </form>
        </div>

        <%- include("partials/footer"); %>