<%- include("partials/header"); %>

    <%- include("partials/nav"); %>

        <div id="box" class="container d-flex flex-nowrap bg-dark text-light mt-3 p-5">
            <div class="jumbotron">
                <h1 class="display-6">Hello Users</h1>
                <h2 class="lead display-1  mb-3">Welcome to the <span class="text-danger display-1">Medical Store</span></h2>
                <p> The Tablet Crud is a simple and user-friendly web application that allows users to manage their tablets
                    and items. The application provide basic CRUD (Create, Read, Update, Delete) functionalities
                    for handling tasks.</p>
                <hr class="mb-3">
                <a href="/signup" class="btn btn-primary me-3">Sign-Up Now</a>
                <a href="/signin" class="btn btn-secondary">Sign-In Now</a>
            </div>
            <div class="">
                <img src="/images/Satisfaction Survey (HD).png" class="home-img"></img>
            </div>
        </div>



        <%- include("partials/footer"); %>