<%- include("partials/header"); %>

    <%- include("partials/nav"); %>

        <div class="container form-control bg-secondary p-3 mt-5">

            <h1 class="text-center">Sign-In</h1>
            <form action="/signin" method="post">
                <div class="mb-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleFormControlInput1"
                        placeholder="Username">
                </div>

                <div class="mb-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="********">
                </div>
                <p class="text-end"><a class="text-light" href="/forgetpassword">Forget Password</a></p>
                <button type="submit" class="btn btn-primary mb-3">Sign-In</button>
                <p>Don't have an account? <a class="text-light " href="/signup">Sign-Up</a></p>
            </form>
        </div>

        <%- include("partials/footer"); %>