<%- include("partials/header"); %>

    <%- include("partials/nav"); %>
    
<div class="container form-control bg-secondary p-3 mt-5">

        <h1 class="text-center">Sign-Up Now</h1>
    <form action="/signup" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleFormControlInput1"
                placeholder="Username">
        </div>
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                placeholder="name@example.com">
        </div>
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleFormControlInput1"
                placeholder="********">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Sign-Up</button>
        <p >Already have an account? <a class="text-light " href="/signin">Sign-In</a></p>
    </form>
</div>

<%- include("partials/footer"); %>
